# additional requirements to be installed with pip
black
cgmquantify-updated
gh-scoped-creds
jupyter-ai
jupyter-smart-on-fhir==0.1.0a3
jupyterhealth-client==0.1.0a1
jupyterlab-code-formatter
langchain-openai
mplcursors
nbgitpuller
pre-commit
ruff
ruptures
voila
